.Navbar {
    display: inline;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    transform: -10;


}

.Navbar-link {
    float: left;
    padding: 10px;

}